html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.row{
	margin-right: 0;
	margin-left:0;
}

body {
	margin:0;
  	padding: 0;
 	font-size: 1em;
	height: 100%;
	font-family: 'Asap', sans-serif;
  	font-weight: 400;
}

.js body {
	overflow: hidden;
}

a {
	color: #555;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}

.header,.subheader-black{
	font-family: 'Asap Condensed', sans-serif;
}

.subheader  {
	font-family: 'Asap Condensed', sans-serif;
	color: #B04E5A;
}

.bb-content,.js .bb-item {
	background-image: none;
	background-color: #fff;
}

.bb-flipoverlay{
	background: #ccc;
}

.jspDrag{
	background: #555;
	border: none;
}


.container1 {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}


.container1,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.slideRight {
	left: 250px;
}

.no-js .container1 {
	padding-left: 250px;
}

.menu-panel {
	background: #000;
	width: 250px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	padding: 30px;
}

.js .menu-panel {
	position: absolute;
	left: -250px;
	overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.menu-panel h3 {
	font-family: 'Asap Condensed', sans-serif;
	font-size: 1.8em;
	padding-bottom: 20px;
	font-weight: 300;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
} 

.menu-toc {
	list-style: none;
}

.menu-toc li a {
	font-family: 'Asap', sans-serif;
	display: block;
	 color: #A9A9A9;
	line-height: 3.5;
	cursor: pointer;
}

.menu-toc li a:hover,
.menu-toc li.menu-toc-current a{
	color: #EFEFEF;
}

.menu-panel div {
	margin-top: 20px;
}

.menu-panel div a {
	font-size: 0.9em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #EFEFEF;
	letter-spacing: 1px;
	font-weight: 600;
} 

.menu-panel div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
}

.bb-custom-wrapper nav {
	top: 0px;
    left: 50px;
    position: absolute;
    z-index: 1000;
    transform-origin: left bottom;
    transform: rotate(90deg);
    width: 100vh;
    height: 40px;
    display: flex;
}

.bb-custom-wrapper nav span,
.menu-button {
	position: absolute;
	width: 40px;
	top: 0;
	left: 0px;
	color: #000;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
}


.bb-custom-wrapper nav span{
	transform: rotate(-90deg);
    position: relative;
    left: 20px;
    font-size: 3rem;
    font-weight: 400;
}



.menu-button {
	z-index: 1000;
	left: 50px;
	top: 30px;
	text-indent: -9000px;
}

.menu-button:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #000;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -6px #000, 0 6px #000;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .content {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	bottom: 10px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 25px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
	display: none;
}

.js .content:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(11,10,43,1) 0%, rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(11,10,43,1) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(bottom, rgba(11,10,43,1) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to top, rgba(8,8,12,1) 0%, rgba(0,0,0,0) 100%);
}


.coverpage{
	color: #fff;

}

.coverpage h2{
	font-size: 900%;

}

.links{
	text-decoration: none;
	color: #CB3302;
}

.links:hover{
	font-weight: 600;
	color: #CB3302;
	text-decoration: none;
}


.text-blue{
	padding: 1.8rem;
	background-color: #34739D;
	color: #fff;
	float: right;
}

.lead{
	padding-left: 5rem;
	margin-right: -30%;
}

/*------------------ RESPONSIVE ---------------------*/


@media screen and (max-width: 767px){
	.lead{
		padding-left: 0;
	}

	.display-none{
		display: none;
	}

	.display-later{
		width: 100%;
		height: 16rem;
		object-fit: cover;
	}
}

@media screen and (max-width: 575px){

	.right{
		text-align: center;
	}

	.display-later, .display-none{
		display: none;
	}


	
}



@media screen and (min-width: 768px) and (max-width: 992px){
	.display-4{
		font-size: 2rem;
	}
	.lead{
		padding-left: 1rem;
	}
}

@media screen and (min-width: 768px){
	.display-later{
		display: none;
	}	
}
