html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin:0;
  	padding: 0;
 	font-size: 1em;
	height: 100%;
	font-family: 'Asap', sans-serif;
  	font-weight: 400;
}

.js body {
	overflow: hidden;
}

a {
	color: #555;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}


.bb-content,.js .bb-item {
	background-image: none;
	background-color: #fff;
}

.bb-flipoverlay{
	background: #ccc;
}

.jspDrag{
	background: #555;
	border: none;
}


.container1 {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}


.container1,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.slideRight {
	left: 230px;
}

.no-js .container1 {
	padding-left: 230px;
}

.menu-panel {
	background: #000;
	width: 230px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	padding: 30px;
}

.js .menu-panel {
	position: absolute;
	left: -230px;
	overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.menu-panel h3 {
	font-family: 'Asap Condensed', sans-serif;
	font-size: 1.8em;
	padding-bottom: 20px;
	font-weight: 300;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
} 

.menu-toc {
	list-style: none;
}

.menu-toc li a {
	font-family: 'Asap', sans-serif;
	display: block;
	 color: #A9A9A9;
	line-height: 3.5;
	cursor: pointer;
}

.menu-toc li a:hover,
.menu-toc li.menu-toc-current a{
	color: #EFEFEF;
}

.menu-panel div {
	margin-top: 20px;
}

.menu-panel div a {
	font-size: 0.9em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #EFEFEF;
	letter-spacing: 1px;
	font-weight: 600;
} 

.menu-panel div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
}

.bb-custom-wrapper nav {
	top: 0px;
    left: 50px;
    position: absolute;
    z-index: 1000;
    transform-origin: left bottom;
    transform: rotate(90deg);
    width: 100vh;
    height: 40px;
    display: flex;
}

.bb-custom-wrapper nav span,
.menu-button {
	position: absolute;
	width: 40px;
	top: 0;
	left: 0px;
	color: #000;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
}


.bb-custom-wrapper nav span{
	transform: rotate(-90deg);
    position: relative;
    left: 20px;
    font-size: 3rem;
    font-weight: 400;
}



.menu-button {
	z-index: 1000;
	left: 50px;
	top: 30px;
	text-indent: -9000px;
}

.menu-button:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #000;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -6px #000, 0 6px #000;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .content {
	position: absolute;
	top: 120px;
	left: 0;
	width: 100%;
	bottom: 10px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 25px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
	display: none;
}

.js .content:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(11,10,43,1) 0%, rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(11,10,43,1) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(bottom, rgba(11,10,43,1) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to top, rgba(8,8,12,1) 0%, rgba(0,0,0,0) 100%);
}


.coverpage{
	color: #fff;

}

.coverpage h2{
	font-size: 900%;

}




/*Tooltip
[data-tooltip] {
  position: relative;
  z-index: 10;
}

/* Positioning and visibility settings of the tooltip 
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 5px);
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width 
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgba(59, 72, 80, 0.9);
  background-image: linear-gradient(30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44));
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow 
[data-tooltip]:after {
  content: " ";
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0s; /* If the mouse leaves the element, 
                              the transition effects for the 
                              tooltip arrow are "turned off" 
  transform-origin: top;   /* Orientation setting for the
                              slide-down effect 
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover 
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect 
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, -5px) scale(1);
}
/* Slide down effect only on mouseenter (NOT on mouseleave) 
[data-tooltip]:hover:after {
  transition-delay: 0.5s;  Starting after the grow effect 
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}
/* LEFT */
/* Tooltip + arrow 
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
  left: auto;
  right: calc(100% + 5px);
  bottom: 50%;
}

/* Tooltip 
[data-tooltip-location="left"]:before {
  transform: translate(-5px, 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before {
  transform: translate(-5px, 50%) scale(1);
}

/* Arrow 
[data-tooltip-location="left"]:after {
  border-width: 5px 0px 5px 5px;
  border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
  transform-origin: left;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after {
  transform: translateY(50%) scaleX(1);
}



/* RIGHT 
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
  left: calc(100% + 5px);
  bottom: 50%;
}

[data-tooltip-location="right"]:before {
  transform: translate(5px, 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
  transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
  border-width: 5px 5px 5px 0px;
  border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
  transform-origin: right;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
  transform: translateY(50%) scaleX(1);
}



/* BOTTOM 
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
  top: calc(100% + 5px);
  bottom: auto;
}

[data-tooltip-location="bottom"]:before {
  transform: translate(-50%, 5px) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before {
  transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after {
  border-width: 0px 5px 5px 5px;
  border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
  transform-origin: bottom;
}



/*------------------ RESPONSIVE ---------------------*/


@media screen and (max-width: 767px){

}

@media screen and (max-width: 575px){

	
}



@media screen and (min-width: 768px) and (max-width: 992px){
	
}
